<a href="https://colab.research.google.com/github/matbot/pandas_practice/blob/master/pandas_cheatsheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
# Ways of creating a Pandas DataFrame
# Passing in a dictionary:
data = {'var':['x', 'y'], 'val':[30, 28]}
df = pd.DataFrame(data)

# Passing in a list of lists:
data = [['x', 20], ['y', 30], ['z', 25]]
df = pd.DataFrame(data, columns = ['var', 'val'])

# Reading data from a csv file:
df = pd.read_csv('mnist_test.csv')

In [ ]:
## Return a selected dataframe:
# Selecting rows where val > 20
df[df.val > 20]

# Selecting rows where var != x
df[df.var != "x"]

# Selecting rows where val is less than 10
# OR greater than 70
df[(df.val < 10) | (df.val > 70)]

In [ ]:
## Alter a column with apply():
# This function doubles the input value
def double(x):
  return 2*x

# Apply this function to double every value in a specified column
df.val = df.val.apply(double)

# Lambda functions can also be supplied to `apply()`
df.val = df.val.apply(lambda x : 3*x)

In [ ]:
## Create a new column:
# Specifying each value in the new column:
df['x1'] = [1, 2, 3, 4]

# Setting each row in the new column to the same value:
df['x2'] = 1

# Creating a new column by doing a 
# calculation on an existing column:
df['x5'] = df['x'] * 5

In [ ]:
## Groupby:
df = pd.DataFrame([
  ["Amy","Assignment 1",75],
  ["Amy","Assignment 2",35],
  ["Bob","Assignment 1",99],
  ["Bob","Assignment 2",35]
  ], columns=["Name", "Assignment", "Grade"])

df.groupby('Name').Grade.mean()

# output of the groupby command
|Name | Grade|
| -  | - |
|Amy | 55|
|Bob |  67|

In [ ]:
## Aggregates
df.columnName.mean() # Average of all values in column
df.columnName.std() # Standard deviation of column
df.columnName.median() # Median value of column
df.columnName.max() # Maximum value in column
df.columnName.min() # Minimum value in column
df.columnName.count() # Number of values in column
df.columnName.nunique() # Number of unique values in column
df.columnName.unique() # List of unique values in column